################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/StackInterviewQuestion/$tf
/StackInterviewQuestion/.vs
/StackInterviewQuestion/Debug
/StackInterviewQuestion/InterviewQuestion/Debug
/StackInterviewQuestion/ipch
/StackInterviewQuestion/StackImplementation.sdf
/LinkedListQuestions/.vs/LinkedListQuestions/v14
/LinkedListQuestions/Debug
/LinkedListQuestions/ipch
/LinkedListQuestions/LinkedListApp/Debug
/LinkedListQuestions/LinkedListQuestions/Debug
/StackImplementation/$tf
/StackImplementation/.vs
/StackImplementation/StackImplementation/Debug
/StackImplementation/ipch
/StackImplementation/Debug
/StackImplementation
